.leerling {
  width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

vollo-score-grafiek {
  display: block;
  height: 300px;
}

.mat-card {
  box-shadow: none;
}

.mat-card-title {
  display: flex;
  flex-direction: row;

  span {
    flex-grow: 1;
  }

  button {
    margin-top: -7px;
    margin-bottom: -10px;
  }
}

.tab-content {
  margin-top: 20px;
}
