<div class="leerling mat-body" [@leerling]="leerling?.id">
  <div class="header">
    <img [src]="fotoData" *ngIf="fotoData">
    <img src="/assets/lege-avatar.png" *ngIf="!fotoData">
    <div class="titles">
      <div class="title">
        <span>{{leerling?.roepnaam}} {{leerling?.tussenvoegsel}} {{leerling?.achternaam}}</span>
        <button mat-icon-button (click)="close()">
          <mat-icon fontIcon="fa-times"></mat-icon>
        </button>
      </div>
      <div class="subtitle">
        <i class="fa"
           [ngClass]="{'fa-mars': leerling?.geslacht === 'MAN', 'fa-venus': leerling?.geslacht === 'VROUW', 'fa-genderless': leerling?.geslacht === 'OVERIG'}"></i>
        {{leerling?.geboortedatum}}
      </div>
    </div>
  </div>
  <div class="tabs">
    <mat-tab-group (selectedIndexChange)="selectedTab = $event">
      <mat-tab label="Scores">
      </mat-tab>
      <mat-tab label="Notities">
      </mat-tab>
      <mat-tab label="Info">
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="content">
    <div class="tab-content" *ngIf="selectedTab === 0">
      <vollo-score-grafiek [scores]="scores"></vollo-score-grafiek>
      <vollo-score-tabel [scores]="scores"></vollo-score-tabel>
    </div>
    <div class="tab-content" *ngIf="selectedTab === 1">
      <vollo-notities [leerling]="leerling"></vollo-notities>
    </div>
    <div class="tab-content" *ngIf="selectedTab === 2">
      <vollo-leerling-historie [leerling]="leerling"></vollo-leerling-historie>
      <vollo-leerling-historie [leerling]="leerling"></vollo-leerling-historie>
      <vollo-leerling-historie [leerling]="leerling"></vollo-leerling-historie>
    </div>
  </div>
  <div class="actions">
    <button mat-icon-button><mat-icon fontIcon="fa-expand-arrows-alt"></mat-icon></button>
    <button mat-icon-button><mat-icon fontIcon="fa-print"></mat-icon></button>
    <button mat-icon-button><mat-icon fontIcon="fa-phone"></mat-icon></button>
  </div>
</div>
