.leerling {
  width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

vollo-score-grafiek {
  display: block;
  height: 300px;
}

.mat-card {
  box-shadow: none;
  height: calc(100% - 32px);
  max-height: calc(100% - 32px);
  display: flex;
  flex-direction: column;

  .mat-card-title {
    display: flex;
    flex-direction: row;

    span {
      flex-grow: 1;
    }

    button {
      margin-top: -7px;
      margin-bottom: -10px;
    }
  }

  .mat-card-content {
    flex-grow: 1;
  }

  .tab-content {
    //margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto;
  }
}
