<mat-card class="leerling">
  <mat-card-header>
    <img mat-card-avatar [src]="fotoData" *ngIf="fotoData">
    <img mat-card-avatar src="/assets/lege-avatar.png" *ngIf="!fotoData">
    <mat-card-title>
      <span>{{leerling?.roepnaam}} {{leerling?.tussenvoegsel}} {{leerling?.achternaam}}</span>
      <button mat-icon-button (click)="close()"><mat-icon fontIcon="fa-times"></mat-icon></button>
    </mat-card-title>
    <mat-card-subtitle>
      <i class="fa" [ngClass]="{'fa-mars': leerling?.geslacht === 'MAN', 'fa-venus': leerling?.geslacht === 'VROUW', 'fa-genderless': leerling?.geslacht === 'OVERIG'}"></i>
      {{leerling?.geboortedatum}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Scores">
        <ng-template matTabContent>
          <div class="tab-content">
            <vollo-score-grafiek [scores]="scores"></vollo-score-grafiek>
            <vollo-score-tabel [scores]="scores"></vollo-score-tabel>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Notities">
        <ng-template matTabContent>
          <div class="tab-content">
            <vollo-notities [leerling]="leerling"></vollo-notities>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Info">
        <ng-template matTabContent>
          <div class="tab-content">
            Info
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button><mat-icon fontIcon="fa-print"></mat-icon></button>
    <button mat-icon-button><mat-icon fontIcon="fa-phone"></mat-icon></button>
  </mat-card-actions>
</mat-card>
