<mat-card class="leerling">
  <mat-card-header>
    <img mat-card-avatar [src]="fotoData" *ngIf="fotoData">
    <img mat-card-avatar src="/assets/lege-avatar.png" *ngIf="!fotoData">
    <mat-card-title>
      <span>{{leerling?.roepnaam}} {{leerling?.tussenvoegsel}} {{leerling?.achternaam}}</span>
      <button mat-icon-button (click)="close()"><mat-icon fontIcon="fa-times"></mat-icon></button>
    </mat-card-title>
    <mat-card-subtitle>
      <i class="fa" [ngClass]="{'fa-mars': leerling?.geslacht === 'MAN', 'fa-venus': leerling?.geslacht === 'VROUW', 'fa-genderless': leerling?.geslacht === 'OVERIG'}"></i>
      {{leerling?.geboortedatum}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Scores">
        <ng-template matTabContent>
          <vollo-score-grafiek [scores]="scores"></vollo-score-grafiek>
          <vollo-score-tabel [scores]="scores"></vollo-score-tabel>
        </ng-template>
      </mat-tab>
      <mat-tab label="Notities">
        <ng-template matTabContent>
          Notities
        </ng-template>
      </mat-tab>
      <mat-tab label="Info">
        <ng-template matTabContent>
          Info
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
