//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
//@import url('https://fonts.googleapis.com/css?family=Overlock:400,400i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i&subset=latin-ext');

@import '~@angular/material/theming';

//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=B9F6CA&secondary.color=EA80FC&secondary.text.color=4A148C&primary.text.color=1B5E20

$general-typography: mat-typography-config(
  $font-family: '"Muli", "Helvetica Neue", sans-serif',
  $body-2: mat-typography-level(14px, 24px, 600)
);

// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);

$vollo-primary: mat-palette($mat-green, 600);
$vollo-accent: mat-palette($mat-purple, A100);
$vollo-warn: mat-palette($mat-orange, 500);
$vollo-error: mat-palette($mat-orange, 900);

$vollo-theme: mat-light-theme($vollo-primary, $vollo-accent, $vollo-warn);

@include angular-material-theme($vollo-theme);
