  <div fxFlex="1 1 400px">
    <div *ngIf="!(token$ | async)">
      <form #inloggenForm="ngForm" (ngSubmit)="inloggen()">
        <mat-form-field>
          <input matInput placeholder="Gebruikersnaam" [(ngModel)]="form.gebruikersnaam" name="gebruikersnaam">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Wachtwoord" [(ngModel)]="form.wachtwoord" name="wachtwoord">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          <mat-icon fontIcon="fa-sign-in-alt"></mat-icon>
          <span>Log in</span>
        </button>
      </form>
    </div>
    <div *ngIf="token$ | async">Token: {{token$ | async}}</div>
  </div>
