<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon fontIcon="fa-bars"></mat-icon>
      </button>
      <span class="logo">Vollo</span>
      <span class="toolbar-space"></span>
      <span class="toolbar-right">
        <button mat-icon-button>
          <mat-icon fontSet="far" fontIcon="fa-user"></mat-icon>
        </button>  
      </span>
    </mat-toolbar>
    <p><button mat-raised-button color="primary" (click)="sidenav.toggle()">sidenav.toggle()</button></p>

    <mat-icon fontIcon="fa-times-circle"></mat-icon>
    <i class="fa fa-check"></i>
    <vollo-inloggen></vollo-inloggen>
    <vollo-mijn-groepen></vollo-mijn-groepen>
  </mat-sidenav-content>
</mat-sidenav-container>
