<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav
               mode="side">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon fontIcon="fa-bars"></mat-icon>
      </button>
      <span class="logo"><a routerLink="/">Vollo</a></span>
      <span class="toolbar-space">
        <vollo-kruimelpad></vollo-kruimelpad>
      </span>
      <span class="toolbar-right">
        <mat-menu #foutmeldingen="matMenu">
          <button mat-menu-item *ngFor="let m of foutmeldingen$ | async">
            {{m.aanleiding}} - {{m.foutmelding}}
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="foutmeldingen">
          <mat-icon fontSet="fas" fontIcon="fa-exclamation-warning"></mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>
            <mat-icon fontSet="far" fontIcon="fa-user"></mat-icon>
            Ingelogd als {{(authenticatie$ | async).gebruikersnaam}}
          </button>
          <button mat-menu-item>
              <mat-icon fontIcon="fa-sign-out-alt"></mat-icon>
              Uitloggen
          </button>
        </mat-menu>
        <button mat-icon-button [disabled]="!(authenticatie$ | async).ingelogd" [matMenuTriggerFor]="userMenu">
          <mat-icon fontSet="far" fontIcon="fa-user"></mat-icon>
        </button>
      </span>
    </mat-toolbar>
    <div class="content mat-typography">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
