<ng-container *ngFor="let ouder of ouders$ | async">
  <div class="contact-line contact-line-divider">
    <div class="contact-line-icon">
      <mat-icon svgIcon="parent" title="Ouder van {{leerling.roepnaam}}"></mat-icon>
    </div>
    <div class="contact-line-text">
      {{ouder.voornaam}} {{ouder.tussenvoegsel}} {{ouder.achternaam}}
    </div>
  </div>
  <vollo-contact-adresregel [adres]="ouder.adres" muted="true"></vollo-contact-adresregel>
  <vollo-contact-emailregel [email]="ouder.email" muted="true"></vollo-contact-emailregel>
  <vollo-contact-telefoonregel [telefoon]="ouder.telefoon" muted="true"></vollo-contact-telefoonregel>
</ng-container>
