form {
  width: 100%;
  margin-bottom: 5px;
}

mat-form-field {
  width: 100%;
}

textarea {
  min-height: 80px;
}

button {
  margin-top: 10px;
  margin-right: 8px;
}

.notities {
  margin-top: 40px;
  max-height: calc(100vh - 425px);
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.mat-card {
  margin: 10px;
}

.mat-card-title,
.mat-card-subtitle {
  margin-left: -16px;
}

.mat-card-title {
  font-size: 14px;
}

.mat-card-subtitle {
  margin-bottom: 0;
}
