.notitieForm {
  &.ingeklapt {
    display: none;
  }

  form {
    width: 100%;
    margin-bottom: 5px;
  }

  mat-form-field {
    width: 100%;
  }

  textarea {
    min-height: 80px;
  }

  button {
    margin-top: 10px;
  }

  button:not(.toggle-zichtbaar),
  .mat-button-toggle-group {
    margin-right: 8px;
  }

  button.toggle-zichtbaar {
    float: right;
  }
}

.notities {
  margin-top: 30px;
  max-height: calc(100vh - 417px);
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.1);

  &.notitieForm-ingeklapt {
    margin-top: 10px;
    max-height: calc(100vh - 264px);
  }
}

.mat-card {
  margin: 10px;
}

.mat-card-title,
.mat-card-subtitle {
}

.mat-card-title {
  font-size: 14px;
}

.mat-card-subtitle {
  margin-bottom: 0;
}

.mat-card-avatar {
  background-color: #ea80fc;
  line-height: 40px;
  text-align: center;

  .mat-icon {
    vertical-align: middle;
  }
}
