/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i&subset=latin-ext');
@import 'styles/vollo.theme.scss';

$primary-color: map-get($vollo-primary, 600);
$accent-color: map-get($vollo-accent, A100);
$warn-color: map-get($vollo-warn, 900);
$font-family: 'Muli', sans-serif;
$secondary-font-family: 'Muli', sans-serif;
$icons-path: '../node_modules/ag-grid/src/styles/material-icons/';
@import '~ag-grid/dist/styles/ag-grid.css';
@import '~ag-grid/src/styles/ag-theme-material';

@import 'styles/contact-line';

// -- Material aanpassingen --

// Nav leerling-view.component
.mat-card-header-text {
  flex-grow: 1;
}
.mat-tab-label {
  min-width: 80px !important;
}
.mat-icon.fa {
  font-size: 1.3rem;
}

.mat-button-toggle-group.medium {
  height: 36px;

  .mat-button-toggle-label-content {
    line-height: 36px;
  }
}

form.ng-invalid.ng-touched {
  .mat-button-toggle-group.ng-invalid {
    border-color: $warn-color;
  }
}
