/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i&subset=latin-ext');
$primary-color: #b9f6ca;
$accent-color: #ea80fc;
$font-family: 'Muli', sans-serif;
$secondary-font-family: 'Muli', sans-serif;
$icons-path: '../node_modules/ag-grid/src/styles/material-icons/';
@import '~ag-grid/dist/styles/ag-grid.css';
@import '~ag-grid/src/styles/ag-theme-material';

// -- Material aanpassingen --

// Nav leerling-view.component
.mat-card-header-text {
  flex-grow: 1;
}
.mat-tab-label {
  min-width: 80px !important;
}
.mat-icon.fa {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.65);
}
